{% extends 'EvispaProductAdminBundle::layout.html.twig' %}

{% block contents %}

{% for product in products %}
<div>
    <div>{{ product.name }}</div>
</div>
{% else %}
    <div>No Products to display.</div>
{% endfor %}

{% endblock %}